@font-face {
    font-family: 'NoeDisplay';
    src: url('NoeDisplay-Bold.woff2') format('woff2'),
        url('NoeDisplay-Bold.woff') format('woff'),
        url('NoeDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

